
<!DOCTYPE html>
<html>
<head>

	<title>Lectura de calidad de aire</title>
		
		
		{% load static %}
		<link rel="icon" type="image/png" href="{% static '/images/logo.png'%}">
		<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static '/css/style.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static '/css/all.css'%}">
		<link rel="stylesheet" href="{% static '/css/animate.css'%}">
		
		<script src="{% static '/js/jquery-3.3.1.min.js' %}"></script>  
		<script src="{% static '/js/Chart.min.js' %}"></script>  
		 
			
		
		
</head>
<body class="bg-light">
{% block header %}

				<nav class="border-bottom navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;position: fixed;z-index: 1">
				  <a class="navbar-brand" href="/"><span class="fas fa-home">  </span> Dashboard</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link"  href="{% url 'medicion' %}"><span class="fas fa-columns"></span> Panel <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				       <a class="nav-link" href="{% url 'data_request:consulta'%}"> <span class="fas fa-database">  </span> Base de datos</a>
				      </li>
				      <li class="nav-item">
				        
				      </li>
				    </ul>
				   
				  </div>
				  

				  
				</nav>

{% endblock %}

{% block body %}

	<section id="face">
			<div class="container-fluid pt-5" id="main_image">
				<div class="row p-5 m-3" id="sub_main_image">
					<div class="col-md-12 text-center mt-2" >
						<h1>BIENVENIDOS</h1>

						<h2>Sistema de medicion de calidad de aire</h2>

						<br>

						<a href="{% url 'medicion'%}" class="animated infinite pulse btn btn-lg btn-light mt-5" id="btn_panel"><span class="fas fa-columns"></span> Ver En Tiempo Real </a>
						<br>
						<a href="{% url 'data_request:consulta'%}" class="animated infinite pulse btn btn-lg btn-light mt-5" id="btn_panel"><span class="fas fa-database"></span> Ver Base de datos </a>
					</div>
				</div>		
			</div>
	</section>

{% endblock %}

{% block datos%}

{% endblock %}
{% block footer %}
<div class="footer bg-dark">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				
			</div>
		</div>
	</div>
</div>

<!-- <script type="text/javascript">


</script> -->
{% endblock %}
<script type="text/javascript">
				
			document.getElementById("btn_panel").onmouseover=function(){btn_panel()};
			document.getElementById("btn_panel").onmouseout=function(){btn_panel_out()};

			function btn_panel(){
			document.getElementById("btn_panel").classList.remove("animated")
			}
			function btn_panel_out(){
			document.getElementById("btn_panel").classList.add("animated")
			}

</script>
<!-- <script type="text/javascript">
			$(document).ready(function(){  
			  $("a").click(function(e) {
			    e.preventDefault();
			    $('html, body').animate({
			      scrollTop: $($.attr(this, 'href')).offset().top -30
			    }, 1000);
			  });
			});
</script> -->
</body>
</html>